<section class="about-style-one">
    <div class="outer-box clearfix">

        <!--Content Column-->
        <div class="content-column clearfix">
            <div class="content-box">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <!--Section Title-->
                    <div class="sec-title">
                        <h2>Haqqımızda <span>ƏliSH</span></h2>
                    </div>
                    <div class="text"> </div>
                    <div class="link-btn"><a href="about.html" class="btn-style-two">Learn More <span class="fa fa-long-arrow-right"></span></a></div>
                </div>
            </div>
        </div>

        <!--Image Column-->
        <div class="image-column" style="background-image:url(~/Content/site/images/resource/about.jpg);"><div class="image"><img src="images/resource/about.jpg" alt=""></div><a href="https://www.youtube.com/watch?v=G0dzLanYW1E" class="overlay-link video-fancybox"><span class="icon fa fa-play"></span></a></div>

    </div>
</section>



