
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2><div class="inner-banner has-base-color-overlay text-center" style="background: url(/Content/Site/images/background/1.jpg);">
    <div class="container">
        <div class="box">
            <h3>Haqqımızda</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>
<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="#">Home</a>
                </li>
                <!-- comment for inline hack
                -->
                <li>
                    Haqqımızda
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->
        <div class="pull-right">
            <a href="#" class="get-qoute"><i class="fa fa-share"></i>paylaş</a>
        </div><!-- /.pull-right -->
    </div><!-- /.container -->
</div>
<section class="who-we-are-area padd-2">
    <div class="container">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="who-we-are-img-holder">
                <img src="~/Content/Site/images/resource/who.jpg" alt="Awesome Image" class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeIn;">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="content">
                <div class="sec-title style-2">
                    <h2>Biz <span>Kimik</span></h2>
                </div>
                <div class="text">
                    Haqqımızda


                    Azərbaycanda məşhur olan Elish.com internet mağazası Yaxın və Orta Şərq ölkələrində və Azərbaycan da daxil olmaqla MDB məkanında bu gün ən məşhur elektrik və məişət texnikası mağazalarından biri hesab olunur.

                    İnternet mağaza bu statusa maksimal dərəcədə geniş çeşidlər, ağıllı qiymət siyasəti və əla servis nəticəsində nail olub. Mənzil qərargahının Birləşmiş Ərəb Əmirliklərinin Cafza azad iqtisadi zonasında yerləşməsi, gömrük haqqı ödəmədən ticarətə və müştərilərə bütün çeşidlər üzrə rəqabətə davamlı və sərfəli qiymətlərlə təmin etməyə imkan yaradır.

                    Mağazanın vəzifəsi təkcə lazım olan məhsulu satmaqdan ibarət deyil. Elish.com həm də alıcını məlumatlandırmaq və maarifləndirməklə məşğuldur. Bunun üçün Azərbaycanda, Qazaxıstanda, Rusiyada və BƏƏ-də mağazanın çağrı mərkəzləri fəaliyyət göstərir ki, burada bütün dünyadan daxil olan zəngləri bütün dillərdə qəbul edərək onları cavablandıra biləcək peşəkar məsləhətçilər çalışırlar. WWW.FROM.AE  sizə məhz lazım olan məhsulu almaq haqqında müstəqil şəkildə düşünülmüş qərar verməkdə köməklik göstərir.

                    Dükan elektronika və məişət texnikası haqqında ən yaxşı portal olmağa cəhd etməklə yanaşı, dövriyyəsini artırmaqda davam edir. Eyni halda elə bir ünvan olmağa çalışır ki, müştərilər burada düşünərək, ucuz və rahat şəkildə istənilən texnikanı seçə və əldə edə bilsinlər.

                    FROM.AE-nin əsas məqsədi və fəaliyyətinin təməl prinsipi müştərilərin razı qalmasıdır.

                    "İstənilən məsələlərin həll edilməsi zamanı biz sizin tərəfinizdəyik, ona görə ki, başa düşürük – bizim gələcəyimiz 100% sizin əlinizdədir."

                    Mağazada bütün mallar çatdırılma ilə satılır.

                    İstənilən məhsulu siz hətta ilkin ödəniş etmədən də kredit yolu ilə əldə edə bilərsiniz. Eləcə də sizin sifarişi bir neçə rahat üsulla ödəmək imkanınız da vardır. Azərbaycandan olan alıcılar üçün xüsusi olaraq, “Bank of Baku”, “UniBank”, “Kapitalbank” və digər maliyyə institutları ilə sərfəli kredit şərtləri təklif edilir.

                    Azərbaycandan olan alıcılar saytda ödəniş edərkən World Card, Kapitalkart, Bolkart, Albalı+ kart və digər kartlardan da istifadə edə bilərlər.

                    Mağazada satılan bütün mallara zəmanət verilir. Elish.com öz nüfuzuna həssaslıqla yanaşır və buna görə də şüurlu olaraq zəmanəti olmayan qeyri-rəsmi və ya qeyri-leqal məhsullar satmır. Azərbaycanda rəsmi olaraq sertifikatlaşdırılmış olan iki servis dəstəyi mərkəzi fəaliyyət göstərir.
                </div>

                <div class="founder clearfix">
                    <div class="img-holder">
                        <img src="~/Content/Site/images/resource/founder.jpg" alt="Awesome Image">
                    </div>
                    <div class="name">
                        <h3>Sheykh Hajibayli</h3>
                        <p>Rəhbər &amp; CEO</p>
                    </div>
                </div>
                <div class="text">
                    Haqqımızda


                    Azərbaycanda məşhur olan Elish.com internet mağazası Yaxın və Orta Şərq ölkələrində və Azərbaycan da daxil olmaqla MDB məkanında bu gün ən məşhur elektrik və məişət texnikası mağazalarından biri hesab olunur.

                    İnternet mağaza bu statusa maksimal dərəcədə geniş çeşidlər, ağıllı qiymət siyasəti və əla servis nəticəsində nail olub. Mənzil qərargahının Birləşmiş Ərəb Əmirliklərinin Cafza azad iqtisadi zonasında yerləşməsi, gömrük haqqı ödəmədən ticarətə və müştərilərə bütün çeşidlər üzrə rəqabətə davamlı və sərfəli qiymətlərlə təmin etməyə imkan yaradır.

                    Mağazanın vəzifəsi təkcə lazım olan məhsulu satmaqdan ibarət deyil. Elish.com həm də alıcını məlumatlandırmaq və maarifləndirməklə məşğuldur. Bunun üçün Azərbaycanda, Qazaxıstanda, Rusiyada və BƏƏ-də mağazanın çağrı mərkəzləri fəaliyyət göstərir ki, burada bütün dünyadan daxil olan zəngləri bütün dillərdə qəbul edərək onları cavablandıra biləcək peşəkar məsləhətçilər çalışırlar. WWW.Elish.com  sizə məhz lazım olan məhsulu almaq haqqında müstəqil şəkildə düşünülmüş qərar verməkdə köməklik göstərir.

                    Dükan elektronika və məişət texnikası haqqında ən yaxşı portal olmağa cəhd etməklə yanaşı, dövriyyəsini artırmaqda davam edir. Eyni halda elə bir ünvan olmağa çalışır ki, müştərilər burada düşünərək, ucuz və rahat şəkildə istənilən texnikanı seçə və əldə edə bilsinlər.

                    Elish.com-nin əsas məqsədi və fəaliyyətinin təməl prinsipi müştərilərin razı qalmasıdır.

                    "İstənilən məsələlərin həll edilməsi zamanı biz sizin tərəfinizdəyik, ona görə ki, başa düşürük – bizim gələcəyimiz 100% sizin əlinizdədir."

                    Mağazada bütün mallar çatdırılma ilə satılır.

                    İstənilən məhsulu siz hətta ilkin ödəniş etmədən də kredit yolu ilə əldə edə bilərsiniz. Eləcə də sizin sifarişi bir neçə rahat üsulla ödəmək imkanınız da vardır. Azərbaycandan olan alıcılar üçün xüsusi olaraq, “Bank of Baku”, “UniBank”, “Kapitalbank” və digər maliyyə institutları ilə sərfəli kredit şərtləri təklif edilir.

                    Azərbaycandan olan alıcılar saytda ödəniş edərkən World Card, Kapitalkart, Bolkart, Albalı+ kart və digər kartlardan da istifadə edə bilərlər.

                    Mağazada satılan bütün mallara zəmanət verilir. Elish.com öz nüfuzuna həssaslıqla yanaşır və buna görə də şüurlu olaraq zəmanəti olmayan qeyri-rəsmi və ya qeyri-leqal məhsullar satmır. Azərbaycanda rəsmi olaraq sertifikatlaşdırılmış olan iki servis dəstəyi mərkəzi fəaliyyət göstərir.
                </div>
            </div>
        </div>
    </div>
</section>

